*.png
*.ttf
*.otf
*.zip
*.pdf
*.cff
*.pyc
printCharImgs/freetype/
printCharImgs/.idea/
*.h5
*.fon
*.ttc
printCharImgs/data/datasets
printCharImgs/data/logs
printCharImgs/data/models_and_classnames
printCharImgs/data/pdf
printCharImgs/data/pdfdata
*.txt
*.json
*.keras